<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light"
        style="background-color: #9E1B34;">
          <a href="https://tudev.org">
          <img src="https://raw.githubusercontent.com/tudev/assets/master/tudev_outline_white.png" id="logo">
          </a>
          <a class="navbar-brand" href="#" style="color: white">
          TUDev Checkout</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="color: white">
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white">Get Started</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#learnmore" style="color: white">Learn More</a>
              </li>
            </ul>
            <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=your_client_id"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
          </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12 sm-box" align="center">
                    <h2>Hackathons with Hardware Hacks</h2>
                    <hr style="margin-bottom: 0;">
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="hackathons">
                        <thead>
                            <tr>
                            <th>Hackathon</th>
                            <th>Location</th>
                            <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                           <td>Pennapps</td>
                           <td>UPenn</td>
                           <td>Sept. 8-10</td>
                           </tr>
                           <tr>
                           <td>HopHacks</td>
                           <td>Johns Hopkins</td>
                           <td>Sept. 15-17</td>
                           </tr>
                           <tr>
                           <td>hackNY</td>
                           <td>NYU</td>
                           <td>Oct. 14-15</td>
                           </tr>
                           </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-md-12 sm-box" align="center">
                    <h2>Request an item</h2>
                    <hr>
                    <p style="margin: 3px">
                    Want to hack with an item that we don't have?<br>Fill out the
                    form below and we'll see what we can do!
                    </p>
                    <div>
                    <form>
                    <input type="text" placeholder="Name*" required>
                    <input type="text" placeholder="Email Address*" required>
                    <input type="text" placeholder="Item to request*" required>
                    <textarea id="request-desc"
                    placeholder="Tell us why we should have your requested item"></textarea>
                    <input type="submit" class="btn btn-info" value="Request Item">
                    </form>
                    </div>
                    </div>
                    <div class="col-md-12 sm-box" align="center">
                    <h1>Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>
                    <hr>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12 xl-box" align="center">
                    <h2>Inventory</h2>
                    <hr>
                    <div style="width: 100%; margin:0 auto;"">
                    <table id="inventory" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Reservation Length</th>
                            <th>Category</th>
                            <th>Tutorials</th>
                            <th>Add to Cart</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Amazon Echo</td>
                                <td>4</td>
                                <td>2 weeks</td>
                                <td>Voice Assistant</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Arduino</td>
                                <td>2</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Edison Board</td>
                                <td>5</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Oculus</td>
                                <td>1</td>
                                <td>2 Weeks</td>
                                <td>VR</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Alienware Desktop</td>
                                <td>2</td>
                                <td>2 Weeks</td>
                                <td>Computer</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Amazon Echo</td>
                                <td>4</td>
                                <td>2 weeks</td>
                                <td>Voice Assistant</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Arduino</td>
                                <td>2</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Edison Board</td>
                                <td>5</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Oculus</td>
                                <td>1</td>
                                <td>2 Weeks</td>
                                <td>VR</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Alienware Desktop</td>
                                <td>2</td>
                                <td>2 Weeks</td>
                                <td>Computer</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Amazon Echo</td>
                                <td>4</td>
                                <td>2 weeks</td>
                                <td>Voice Assistant</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Arduino</td>
                                <td>2</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Edison Board</td>
                                <td>5</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Oculus</td>
                                <td>1</td>
                                <td>2 Weeks</td>
                                <td>VR</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Alienware Desktop</td>
                                <td>2</td>
                                <td>2 Weeks</td>
                                <td>Computer</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Amazon Echo</td>
                                <td>4</td>
                                <td>2 weeks</td>
                                <td>Voice Assistant</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Arduino</td>
                                <td>2</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Edison Board</td>
                                <td>5</td>
                                <td>2 weeks</td>
                                <td>DIY</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Oculus</td>
                                <td>1</td>
                                <td>2 Weeks</td>
                                <td>VR</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Alienware Desktop</td>
                                <td>2</td>
                                <td>2 Weeks</td>
                                <td>Computer</td>
                                <td>Coming Soon</td>
                                <td>
                                <input type="number" name="quantity" min="1" max="5" placeholder="1">
                                <a href="#"> Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" align="center"><span id="footer-text">
            &copy; 2017 TUDev.org -  
            <a href="mailto:tudev@temple.edu">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/@templedev">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="mailto:tudev@temple.edu">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a href="mailto:tudev@temple.edu">
            <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
            <a href="mailto:tudev@temple.edu">
            <i class="fa fa-medium" aria-hidden="true"></i>
            </a>
            - Made with 
            <i class="fa fa-code" aria-hidden="true"></i>
             by <a href="jlawrence.co" class="underline">Jake</a>
        </span></div>
    </body>
</html>