<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
    </head>
    <body id="top">
        <nav class="navbar navbar-toggleable-md navbar-light"
        style="background-color: #0D47A1;">
          <img src="{{ url_for('static', filename='img/footprint.svg')}}" style="height: 40px; width: auto; margin-right: 10px">
          <a class="navbar-brand" href="#" style="color: white">Footprint</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="color: white">
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white">Get Started</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#learnmore" style="color: white">Learn More</a>
              </li>
            </ul>
            <a href="{{ url_for('.signup') }}">
            <button class="btn btn-secondary btn-signup" type="submit">Sign Up</button>
            </a>
            <button class="btn btn-outline-secondary btn-login" type="submit">Login</button>
          </div>
        </nav>
        <div class="large">
            <div class="container">
                <br>
                <h1 style="font-size: 100px; color: white;">Footprint</h1>
                <div id="bar-break"></div>
                <p id="desc" style="font-size: 50px; color: white;">You leave a trail on the internet, see what it says about you</p>
                <a href="{{ url_for('.signup') }}">
                <button class="btn-secondary btn-lg btn-gs">
                Get Started
                </button>
                </a>
                <button class="btn-secondary btn-lg btn-lm" action="#">
                Learn More
                </button>
            </div>
        </div>
        <div class="big-wrapper">
            <div class="container" id="learn" align="center"
            style="margin-top: 130px; margin-bottom: 50px;">
                <h1 id="learnmore" style="color: #0D47A1;">What is Footprint?</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4 info-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                    <div class="col-md-4 info-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                    <div class="col-md-4 info-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                </div>
            </div>
            <div class="learn-bottom"></div>
        </div>
        <div class="big-wrapper bl-bg">
            <div class="container" align="center">
                <h1 id="why" style="color: white;">Why use Footprint?</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4 why-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                    <div class="col-md-4 why-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                    <div class="col-md-4 why-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                </div>
            </div>
            <div class="why-bottom"></div>
        </div>
        <div class="big-wrapper gr-bg" style="padding-top: 50px">
            <div class="container" align="center">
                <h1 id="why" style="color: #0D47A1;">Footprint for Businesses</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4 biz-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                    <div class="col-md-4 biz-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                    <div class="col-md-4 biz-col">
                        <div class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim, dolor nec tempor mollis, risus urna consectetur tortor, et faucibus odio enim ac mauris. Suspendisse condimentum metus non mollis auctor. Morbi vitae auctor eros. Morbi ornare risus ut sollicitudin semper. Proin purus eros, bibendum sit amet auctor vel, rhoncus in est. Nulla in aliquam sem. Pellentesque posuere magna nunc, sed vehicula enim posuere vel. Phasellus vel tempor sem, nec volutpat quam.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" align="center">
            <div>
                <div id="to-top">
                <a href="#top">
                <i class="fa fa-chevron-up" id="top-btn" aria-hidden="true">
                </i>
                </a></div>
                <span class="footer-text">
                &copy; 2017 Jake Lawrence | Made with 
                <i class="fa fa-keyboard-o" aria-hidden="true" style="margin-left: 2px; margin-right: 2px"></i> in Philadelphia
                </span>
            </div>
        </div>
    </body>
</html>