<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
    </head>
    <body style="overflow-y: hidden;">
        <nav class="navbar navbar-toggleable-md navbar-light"
        style="background-color: #0D47A1;">
          <img src="{{ url_for('static', filename='img/footprint.svg')}}" style="height: 40px; width: auto; margin-right: 10px">
          <a class="navbar-brand" href="/" style="color: white">Footprint</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="color: white">
            </ul>
            <button class="btn btn-secondary btn-signup" type="submit">Login</button>
            <a href="{{ url_for('.index') }}">
            <button class="btn btn-outline-secondary btn-login" type="submit">Go Back</button>
            </a>
          </div>
        </nav>
        <div class="wrapper">
            <div class="container vcenter">
             <div class="row" align="center">
                 <div class="col-md-6 signup-card">

                 </div>
             </div>
            </div>
        </div>
    </body>
</html>